@import "tailwindcss";

@theme {
  --color-gray1: #f9f9fb;
  --color-blue1: #131929;
  --color-blue2: #0e1039;
  --color-lightblue: #cbe5ff;
  --color-blue3: #2cb6f1;
}

html {
  scroll-behavior: smooth;
}
